<%= form_with(model: @user, local: true) do |f| %>
  <div class="container">
    <%= render "partials/form_errors", object: @user %>

    <div class="field">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="buttons">
      <%= f.submit "Update Account", class: "button is-success" %>
      <%= link_to "Change password", edit_user_registration_path, class: "button is-danger" %>
    </div>
  </div>
<% end %>
