<table class="table is-fullwidth table is-striped">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Visibility</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.cheatsheets.each.with_index(1) do |cheatsheet, index| %>
      <tr>
        <th><%= index %></th>
        <th><%= link_to cheatsheet.title, cheatsheet %></th>
        <td><%= cheatsheet.created_at.strftime("%B %d, %Y") %></td>
        <td><%= cheatsheet.updated_at.strftime("%B %d, %Y") %></td>
        <td><%= visibility(cheatsheet) %></td>
        <td>
          <div class="field is-grouped">
            <p class="control">
              <%= link_to "Edit", edit_cheatsheet_path(cheatsheet), class: "button is-success" %>
            </p>
            <p class="control">
              <%= link_to "Delete", cheatsheet_path(cheatsheet),method: :delete,
                                  data:{confirm: "Are you sure?"}, class: "button is-danger" %>
            </p>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
