<section class="hero has-background-black-ter">
  <div class="hero-body has-text-centered">
    <div class="container">
      <% if @user == current_user %>
        <h1 class="title has-text-danger">My Profile</h1>
        <h5 class="subtitle has-text-light">
          <%= has_name?(@user, "has-text-light") %> @<%= @user.username %>
        </h5>
      <% else %>
        <h1 class="title has-text-danger">
          <%= has_name?(@user) %> @<%= @user.username %>
        </h1>
      <% end %>

      <small class="tag is-black">Joined <%= @user.created_at.strftime("%B %d, %Y") %></small>

      <% if (@user.location.present?) %>
        <small class="tag is-dark"><%= @user.location %></small>
      <% end %>

      <div class="container user-bio is-centered">
        <% if @user.bio.present? %>
          <small><%= @user.bio %></small>
        <% else %>
          <small>404 bio not found.</small>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%# Hidden on mobile %>
<% if @user.cheatsheets.any? %>
  <section class="section is-hidden-mobile">
    <% if (user_signed_in? && @user == current_user) %>
      <%= render partial: "users/user_table" %>
    <% else %>
      <%= render partial: "users/public_table" %>
    <% end %>
  </section>
<% end %>

<%# Mobile only %>
<% if @user.cheatsheets.any? %>
  <section class="section is-hidden-tablet">
    <div class="columns is-multiline">
        <% @user.cheatsheets.map do |cheatsheet| %>
          <div class="column is-full-tablet">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title"><%= link_to cheatsheet.title, cheatsheet %></p>
              </header>
              <div class="card-content">
                <div class="content">
                  <p><small><strong>Created at: </strong><%= cheatsheet.created_at.strftime("%B %d, %Y") %></small></p>
                  <p><small><strong>Last updated: </strong><%= cheatsheet.updated_at.strftime("%B %d, %Y") %></small></p>
                  <p><small>#hashtags</small></p>

                  <% if (user_signed_in? && @user == current_user) %>
                    <div class="buttons">
                      <%= link_to "Edit", edit_cheatsheet_path(cheatsheet), class: "button is-success" %>
                      <%= link_to "Delete", cheatsheet_path(cheatsheet),method: :delete,
                                            data:{confirm: "Are you sure?"}, class: "button is-danger" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </section>
<% end %>
