<section class="hero has-background-black-ter">
  <div class="hero-body has-text-centered">
    <div class="container">
      <% if @user == current_user %>
        <h1 class="title has-text-danger">My Profile</h1>
        <h5 class="subtitle has-text-light">
          <%= has_name?(@user, "has-text-light") %> @<%= @user.username %>
        </h5>
      <% else %>
        <h1 class="title has-text-danger">
          <%= has_name?(@user) %> @<%= @user.username %>
        </h1>
      <% end %>

      <small class="tag is-black">Joined <%= @user.created_at.strftime("%B %d, %Y") %></small>

      <% if (@user.location.present?) %>
        <small class="tag is-dark"><%= @user.location %></small>
      <% end %>

      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="container user-bio">
              <% if @user.bio.present? %>
                <small><%= @user.bio %></small>
              <% else %>
                <small>404 bio not found.</small>
              <% end %>
            </div>
          </nav>
        </div>
      </div>

    </div>
  </div>
</section>

<%# Desktop only %>
<% if @user.cheatsheets.any? %>
  <section class="section is-hidden-mobile">
    <table class="table is-fullwidth table is-striped">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Hashtags</th>
          <th>Created at</th>
          <th>Last updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user.cheatsheets.each.with_index(1) do |cheatsheet, index| %>
          <tr>
            <th><%= index %></th>
            <th><%= link_to cheatsheet.title, cheatsheet %></th>
            <td>#hashtags</td>
            <td><%= cheatsheet.created_at.strftime("%B %d, %Y") %></td>
            <td><%= cheatsheet.updated_at.strftime("%B %d, %Y") %></td>
              <% if (user_signed_in? && @user == current_user) %>
                <td>
                  <div class="field is-grouped">
                    <p class="control">
                      <%= link_to "Edit", edit_cheatsheet_path(cheatsheet), class: "button is-success" %>
                    </p>
                    <p class="control">
                      <%= link_to "Delete", cheatsheet_path(cheatsheet),method: :delete,
                                          data:{confirm: "Are you sure?"}, class: "button is-danger" %>
                    </p>
                  </div>
                </td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>

<%# Mobile only %>
<% if @user.cheatsheets.any? %>
  <section class="section is-hidden-tablet">
    <div class="columns is-multiline">
        <% @user.cheatsheets.map do |cheatsheet| %>
          <div class="column is-full-tablet">
            <div class="box">
              <div class="content">
                <h4><%= link_to cheatsheet.title, cheatsheet %></h4>
                <p><small><strong>Created at: </strong><%= cheatsheet.created_at.strftime("%B %d, %Y") %></small></p>
                <p><small><strong>Last updated: </strong><%= cheatsheet.updated_at.strftime("%B %d, %Y") %></small></p>
                <p><small>#hashtags</small></p>

                <% if (user_signed_in? && @user == current_user) %>
                  <div class="buttons">
                    <%= link_to "Edit", edit_cheatsheet_path(cheatsheet), class: "button is-success" %>
                    <%= link_to "Delete", cheatsheet_path(cheatsheet),method: :delete,
                                          data:{confirm: "Are you sure?"}, class: "button is-danger" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </section>
<% end %>
