<div class="column is-3">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title"><%= link_to truncate(cheatsheet.title, length: 50, separator: ' '), cheatsheet %></p>
    
      <div>
        <%= render "partials/add_or_remove_favorite", cheatsheet: cheatsheet, style: "navbar-item" %>
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        <p class="my-0"><small><strong>Author:</strong> <%= link_to cheatsheet.user.username, cheatsheet.user %></small></p>
        <p><small><strong>Created: </strong><%= cheatsheet.created_at.strftime("%B %d, %Y") %></small></p>

        <div>
          <% cheatsheet.tags.map do |tag| %>
            <%= change_hashtag_to_link(tag.name, style="tag") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
