<%= form_with(model: @cheatsheet, local: true) do |f| %>
  <div class="container">
    <%= render "partials/form_errors", object: @cheatsheet %>

    <div class="field is-pulled-right">
      <%= f.radio_button(:public?, true) %>
      <%= f.label(:public?, "Public", value: true, style: "margin-right: 10px;") %>

      <%= f.radio_button(:public?, false) %>
      <%= f.label(:public?, "Private", value: false) %>
    </div>

    <div class="field">
      <%= f.label :title, class: "label" %>
      <%= f.text_field :title, class: "input", autofocus: true, placeholder: "Enter title here" %>
    </div>

    <div class="field">
      <%= f.rich_text_area :content, class: "has-background-white" %>
    </div>

    <div class="buttons">
      <%= link_to "Back", :back, class: "button is-danger" %>
      <%= f.submit "Save", class: "button is-success" %>
    </div>
  </div>
<% end %>
