<section class="hero has-background-black-ter">
  <div class="hero-body">

  <%# Hidden on mobile %>
    <%= link_to :back do %>
      <button class="button is-dark is-small is-pulled-left is-hidden-mobile">
        <span class="icon is-small">
          <i class="fas fa-arrow-left"></i>
        </span>
        <span>Back</span>
      </button>
    <% end %>

  <%# Hidden on mobile %>
    <% if current_user_can_edit?(@cheatsheet) %>
      <div class="field has-addons is-pulled-right is-hidden-mobile">
        <p class="control">
          <%= link_to edit_cheatsheet_path(@cheatsheet) do %>
            <button class="button is-dark is-small">
              <span class="icon is-small">
                <i class="fas fa-edit"></i>
              </span>
              <span>Edit</span>
            </button>
          <% end %>
        </p>
        <p class="control">
          <%= link_to cheatsheet_path(@cheatsheet),method: :delete,
                                      data:{confirm: "Are you sure?"} do %>
            <button class="button is-dark is-small">
              <span class="icon is-small">
                <i class="fas fa-trash"></i>
              </span>
              <span>Delete</span>
            </button>
          <% end %>
        </p>
      </div>
    <% end %>

    <div class="column is-half is-offset-one-quarter has-text-centered">
      <h1 class="title has-text-info"><%= @cheatsheet.title %></h1>
      <div class="description is-hidden">
        <div class="tags is-centered">
          <%= link_to ('Author: ' + '@' + @cheatsheet.user.username), @cheatsheet.user, class: "tag is-danger"%>
          <%= created_tag(@cheatsheet) %>
          <%= updated_tag(@cheatsheet) %>
        </div>
      </div>
    </div>
    <div id="arrow" class="arrow has-text-centered">
      <span class="icon is-large">
        <i class="fas fa-angle-down fa-3x"></i>
      </span>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <p><%= @cheatsheet.body %><br /></p>
    </div>
  </div>
</section>
