<section class="hero has-background-black-ter">
  <div class="mt-4">
    <div class="buttons is-pulled-left ml-2">
      <%= render partial: "partials/button_back" %>
    </div>
    <div class="buttons is-pulled-right mr-2">
      <% if current_user %>
        <%= like_or_unlike_button(@cheatsheet, @like) %>
        <%= add_or_remove_favorite(@cheatsheet, styles: "button is-dark is-small") %>
        
        <% if current_user_can_edit?(@cheatsheet) || current_user_admin? %>
          <%= link_to edit_cheatsheet_path(@cheatsheet) do %>
            <button class="button is-dark is-small mr-2">
              <span class="icon is-small">
                <i class="fas fa-edit"></i>
              </span>
              <span>Edit</span>
            </button>
          <% end %>
          <%= link_to cheatsheet_path(@cheatsheet), method: :delete,
                                      data:{confirm: "Are you sure?"} do %>
            <button class="button is-dark is-small">
              <span class="icon is-small">
                <i class="fas fa-trash"></i>
              </span>
              <span>Delete</span>
            </button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="hero-body">
    <div class="column is-half is-offset-one-quarter has-text-centered">
      <h1 class="title has-text-info"><%= @cheatsheet.title %></h1>
      <div class="mb-2">
        <% @cheatsheet.tags.each do |hashtag| %>
          <%= change_hashtag_to_link(hashtag.name, style="tag is-dark") %>
        <% end %>
      </div>
      <div class="description is-hidden">
        <div class="tags is-centered">
          <%= link_to ('Author: ' + '@' + @cheatsheet.user.username), @cheatsheet.user, class: "tag is-danger"%>
          <%= created_tag(@cheatsheet) %>
          <%= updated_tag(@cheatsheet) %>
        </div>
      </div>
    </div>
    <div id="arrow" class="arrow has-text-centered">
      <span class="icon is-large">
        <i class="fas fa-angle-down fa-3x"></i>
      </span>
    </div>
  </div>
</section>

<section class="section content_min-height has-background-white">
  <div class="container text-content">
    <%= @cheatsheet.content %>
  </div>
</section>
