<section class="hero has-background-black-ter">
  <div class="hero-body has-text-centered">
    <div class="column is-half is-offset-one-quarter">
      <h1 class="title has-text-info"><%= @cheatsheet.title %></h1>
    </div>
    <div class="description is-hidden">
      <small class="tag is-black">Updated: <%= @cheatsheet.updated_at.strftime("%B %d, %Y") %></small>
      <small class="tag is-dark">Created: <%= @cheatsheet.created_at.strftime("%B %d, %Y") %></small>
      <p>Author:<strong> <%= link_to ('@' + @cheatsheet.user.username), @cheatsheet.user %></strong></p>
    </div>
    <div id="arrow">
      <span class="icon is-large">
        <i id="icon" class="fas fa-angle-up fa-3x"></i>
      </span>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <p><%= @cheatsheet.body %><br /></p>
    </div>
  </div>
</section>
