<section class="hero has-background-black-ter">
  <div class="mt-4 is-clearfix">
    <div class="buttons is-pulled-left ml-2">
      <%= link_to :back do %>
        <button class="button is-dark is-small mr-2">
          <span class="icon is-small">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span>Back</span>
        </button>
      <% end %>
    </div>
    <div class="buttons is-pulled-right mr-2">
      <%= render partial: 'subscriptions/subscription' %>
    </div>
  </div>
  <div class="hero-body has-text-centered pt-0">
    <div class="column is-half is-offset-one-quarter">
      <h1 class="title has-text-danger">
        <%= @tag.name %>
        <% if @tag.cheatsheets.count > 1 %>
          <span class="has-text-white">/</span>
          <%= @tag.cheatsheets.count %>
        <% end %>
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-multiline">
    <%= render partial: 'cheatsheets/cheatsheet', collection: @cheatsheets %>
  </div>
</section>
