<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <span class="icon is-medium">
        <i class="fas fa-th-large"></i>
      </span>
    <% end %>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
      <% if user_signed_in? %>
        <a class="navbar-item">
          <span class="icon is-medium has-text-danger">
            <i class="fas fa-bookmark"></i>
          </span>
          Bookmarks
        </a>

        <%= link_to "All cheatsheets", cheatsheets_path, class: "navbar-item #{current_class?(cheatsheets_path)}" %>
        <%= link_to "Create new", new_cheatsheet_path(@cheatsheet), class: "navbar-item #{current_class?(new_cheatsheet_path)}" %>
        <a class="navbar-item">My Feed</a>
      <% end %>
    </div>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span class="icon is-large has-text-danger">
              <i class="fas fa-user-circle"></i>
            </span>
            Profile
          </a>

          <div class="navbar-dropdown">
            <%= link_to "My Profile", current_user, class: "navbar-item" %>
            <%= link_to "Edit Profile", edit_user_path(current_user), class: "navbar-item" %>
            <%= link_to "Change password", edit_user_registration_path(current_user), class: "navbar-item" %>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Help
            </a>
          </div>
        </div>
      <% end %>
      <div class="navbar-item">
        <div class="buttons">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, class: "button is-danger",
              method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: "button is-danger" %>
          <%= link_to "Log in", new_user_session_path, class: "button is-light" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
